<%- include("partials/head") %>  
  <body>
  <%- include("partials/header") %>  
  
  <section class="creditos">     
    <div class="container-creditos">
      <h1 class="container-creditos__title"><%= title %></h1>
      <p class="container-creditos__text"><%= text %></p>
    </div> 
  </section>
    

  <%- include("partials/footer") %>  
  </body>
</html>